// Panel
$color-right-panel-background: #f2f3f5;

$input-bg-color: #fff;
$input-text-color: #a3a3a3;
$button-text-color: #fff;

$primary-color: #c7730c;
$primary-color-logo: #c7730c;
$secondary-color: rgb(248, 193, 193);
$background-color: rgb(255, 246, 246);
$primary-active-color: #5c5c5c;
$secondary-active-color: #939393;
