.donate-wrapper {
  width: 100%;
  padding: 80px 24px;
  background: rgb(250, 250, 250);
}

.donate-container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

.donate-header {
  font-family: palatino linotype, serif;
  font-weight: 500;
  padding-left: 24px;
  position: relative;
  margin: 0 0 10px;
  color: #2a2a2a;
  text-align: center;
  letter-spacing: 0.01em;
}

.donate-header-line {
  display: block;
  margin: 0 auto 40px;
  width: 32px;
  height: 2px;
  background: #2a2a2a;
}

.donater-list {
  list-style-type: none;
  white-space: nowrap;
  overflow-x: auto;
  display: flex;
  padding: 20px 0px 40px;
  width: 70%;
  margin: auto;
}

@media (min-width: 720px) {
  .donater-list {
    -webkit-box-pack: justify;
    justify-content: space-between;
    justify-content: center;
  }
}

.donater-list-item {
  display: inline-block;
  padding: 0px 42px;
  text-align: center;
  white-space: normal;
  font-family: Helvetica;
}

.donater-image-wrapper {
  max-width: 200px;
  max-height: 200px;
  border-radius: 100%;
  border: 2px solid #2a2a2a;
  margin: 20px auto;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
}

.donater-image-wrapper > img {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  cursor: pointer;
  padding: 4px;
}

.donater-name {
  font-family: didot-w01-italic, didot-w05-italic, serif;
  font-style: italic;
  color: rgb(35, 21, 53);
}

.donater-details {
  font-family: didot-w01-italic, didot-w05-italic, serif;
  margin-top: 50px;
  color: rgb(35, 21, 53);
  display: block;
}

.DonateNowBtn {
  display: flex;
  margin: auto;
  max-width: 180px;
  justify-content: center;
  margin-top: 30px;
  font-family: didot-w01-italic, didot-w05-italic, serif;
}

.DonateNowBtn__btn {
  cursor: pointer;
  border: none;
  display: block;
  min-width: 10px;
  min-height: 10px;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 0;
  background: #000000;
}

.DonateNowBtn__container {
  display: flex;
  flex-basis: auto;
  justify-content: center;
  flex-direction: row;
  flex-grow: 1;
  align-items: center;
  overflow: hidden;
  transition: all 0.2s ease, visibility 0s;
  padding: 20px;
}

.DonateNowBtn__label {
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  white-space: nowrap;
  min-width: 1.8em;
  max-width: 100%;
  transition: inherit;
  color: #ffffff;
}

.DonateNowBtn__icon {
  transition: inherit;
  fill: #ffffff;
  width: 10px;
  height: 10px;
  margin: 0px 0px 0px 10px;
}

.DonateNowBtn__icon > div,
.DonateNowBtn__icon svg {
  display: flex;
  width: inherit;
  height: inherit;
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .donater-list {
    width: 100%;
  }

  .donater-list-item {
    padding: 0px 20px;
  }
}

@media screen and (max-width: 767px) {
  .donate-container {
    max-width: 100%;
  }

  .donate-header {
    padding-left: 0px;
  }

  .donate-header-line {
    margin: 0 auto;
  }

  .donater-list {
    width: 100%;
    flex-flow: column;
  }

  .donater-list-item {
    margin-top: 20px;
    padding: 0px 10px;
  }

  .donater-details {
    margin-top: 30px;
  }
}
