// Panel
$color-right-panel-background: #f2f3f5;

$input-bg-color: #fff;
$input-text-color: #a3a3a3;
$button-text-color: #fff;

$primary-color: #37383c;
$primary-color-yellow: #efde9e;
$primary-color-red: #e41b22;
$primary-active-color: #5c5c5c;
$secondary-active-color: #939393;
