.events-wrapper {
  width: 100%;
  padding: 40px 24px;
  background: #fafafa;
  color: black;
}

.event-container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding-bottom: 5em;
}

.event-header-h1 {
  font-family: palatino linotype, serif;
  font-weight: 500;
  font-size: 37px;
  padding: 40px 0px 7px 26px;;
  position: relative;
  color: black;
  text-align: left;
  letter-spacing: 0.01em;
}
.event-header-line {
  display: block;
  margin: 0 auto 40px;
  width: 32px;
  height: 2px;
  // background: black;
}

  .card-items {
    border: 1px solid rgba(0, 0, 0, 0.12);
    margin-bottom: 10px;
    padding: 3px 1px;
}

.EventBtn__container {
  display: flex;
  flex-basis: auto;
  justify-content: center;
  flex-direction: row;
  flex-grow: 1;
  align-items: center;
  overflow: hidden;
  transition: all 0.2s ease, visibility 0s;
  padding: 20px;
}

.EventBtn__label {
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  white-space: nowrap;
  min-width: 1.8em;
  max-width: 100%;
  transition: inherit;
  color: #ffffff;
}

.EventBtn__icon {
  transition: inherit;
  fill: #ffffff;
  width: 10px;
  height: 10px;
  margin: 0px 0px 0px 10px;
}

.EventBtn__icon > div,
.EventBtn__icon svg {
  display: flex;
  width: inherit;
  height: inherit;
}

.event-list{
  display: flex;
  flex-direction: row;
  margin-left: 25px;
  margin-top: 20px;
}
span.details {
  font-size: 0.6em;
}
.register{
  border: 1px solid;
  padding: 9px 29px 9px 46%;
  color: #fff;
  background-color: #FF934A;
}

.cal-img{
  width: 2%;
  padding-right: 4px;
}


@media screen and (min-width: 320px) and (max-width: 599px){
  .event-img {
    float: left;
    width: 90%;
}
.event-btn{
  width: 200px !important;
}
}

@media screen and (min-width: 320px) and (max-width: 768px){
  .register{
    padding-left: 28%;
  }
  .cal-img{
      width: 4%;
      margin-left: 3px;
      margin-top: 2px;
  }
  
}
@media screen and (min-width: 769px) and (max-width: 1200px){
  .register{
    margin: 0;
  }

}