@import "../../assets/scss/index.scss";

.Nav__header {
  font-family: "JosefinSansSemiBold" !important;
  color: white;
  font-weight: 500;
  text-transform: uppercase;
  padding: 0px 5px;
}
.Nav__header.u-h6:hover {
  // background-color: black;
  // color: white !important;
  // padding: 10px 5px;
  cursor: pointer;
}

.Nav__preorder {
  font-family: "JosefinSansSemiBold";
  background-image: url(../../assets/image/BANNER.png);
  background-repeat: no-repeat;
  background-size: cover;
  color: white !important;
  padding: 10px;
}

.Text--subdued {
  color: #939393;
}

.Icon-Wrapper--clickable {
  position: relative;
  background: 0 0;
}
.Icon-Wrapper--clickable::before {
  position: absolute;
  content: "";
  top: -8px;
  right: -12px;
  left: -12px;
  bottom: -8px;
  transform: translateZ(0);
}

.HorizontalList {
  list-style: none;
  margin: -6px -8px;
}
.HorizontalList__Item {
  display: inline-block;
  margin: 6px 8px 6px 8px;
}
.HorizontalList__Item > .Link {
  display: inline-block;
}

.HorizontalList--spacingExtraLoose {
  margin-left: 36em;
  margin-right: -15px;
}
.HorizontalList--spacingExtraLoose .HorizontalList__Item {
  margin-right: 15px;
  margin-left: 15px;
}

.Header .Heading,
.Header .Link--primary:hover,
.Header .Link--secondary {
  color: #5c5c5c;
}
.Header .Link--primary,
.Header .Link--secondary:hover,
.Header .Text--subdued {
  color: #939393;
}
.Header {
  color: #5c5c5c;
  box-shadow: 0 -1px #e7e7e7 inset;
  transition: background 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  padding: 20px 0px;
}

.Header__Wrapper {
  display: flex;
  align-items: center;
  // justify-content: space-between;
  padding: 15px 18px;
}

@media screen and (min-width: 1200px) {
  .homeview .Header {
    background: transparent;
    position: fixed;
    top: 0px;
    z-index: 999;
    width: 100%;
    box-shadow: none;
  }

  .homeview .Header__Wrapper {
    background: transparent;
  }

  .homeview-inverted .Header {
    background: white;
    position: fixed;
    top: 0px;
    z-index: 999;
    width: 100%;
    padding: 0;
  }
  .homeview-inverted .Nav__header{
    color: #5c5c5c;
  }
  .homeview-inverted .Header__Icon .Icon--account{
    color: #5c5c5c;
  }
  .homeview-inverted .Header__Icon + .Header__Icon{
    color: #5c5c5c;
  }
}

.Header__Logo {
  position: relative;
  margin-bottom: 0;
}
.Header__LogoImage,
.Header__LogoLink {
  display: block;
}
.Header__LogoImage {
  margin: 0 auto;
  transition: opacity 0.3s ease-in-out;
}
.Header__LogoImage--transparent {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}
.Header__Icon {
  display: inline-block;
  line-height: 1;
  transition: color 0.2s ease-in-out;
}
.Header__Icon span {
  display: block;
}
.Header__Icon + .Header__Icon {
  margin-left: 18px;
}
.supports-sticky .Search[aria-hidden="true"] + .Header--transparent {
  background: 0 0;
}
.supports-sticky
  .Search[aria-hidden="true"]
  + .Header--transparent
  .Header__LogoImage--primary:not(:only-child) {
  opacity: 0;
}
.supports-sticky
  .Search[aria-hidden="true"]
  + .Header--transparent
  .Header__LogoImage--transparent {
  opacity: 1;
}

.Header__Icon .Icon--nav {
  height: 14px;
  width: 20px;
}
.Header__Icon .Icon--cart {
  width: 17px;
  height: 20px;
}
.Header__Icon .Icon--search {
  position: relative;
  top: 1px;
  width: 18px;
  height: 17px;
  color: white;
}
.Header__FlexItem {
  display: flex;
}
.Header__FlexItem--fill {
  flex: 0 0 1 ;
  // align-items: center;
}
.Header__FlexItem--fill:last-child {
  justify-content: flex-end;
}
.Header__CartDot {
  position: absolute;
  top: 2px;
  right: -6px;
  width: 8px;
  height: 8px;
  border-radius: 100%;
  background-color: #5c5c5c;
  box-shadow: 0 0 0 2px #fff;
  transform: scale(0);
  transition: all 0.3s ease-in-out;
}
.Header__CartDot.is-visible {
  transform: scale(1);
}

@media screen and (min-width: 641px) {
  // .Header {
  //   padding: 30px;
  // }

  .Header__Wrapper {
    padding: 5px 30px;
  }
  .Header__LogoImage {
    max-width: 100%;
  }
  .Header__Icon + .Header__Icon {
    margin-left: 25px;
    color: white;
  }
  .Header__Icon .Icon--nav-desktop {
    height: 17px;
    width: 24px;
  }
  .Header__Icon .Icon--cart-desktop {
    height: 23px;
    width: 19px;
  }
  .Header__Icon .Icon--search-desktop {
    position: relative;
    top: 2px;
    width: 21px;
    height: 21px;
  }
  .Header__Icon .Icon--account {
    position: relative;
    top: 2px;
    width: 20px;
    height: 20px;
    color: white;
  }
  .Header--withIcons .Header__SecondaryNav {
    position: relative;
    top: 1px;
    margin-right: 32px;
  }
}
@media screen and (min-width: 1240px) {
  .js .Header__Wrapper {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }
  .Header:not(.Header--sidebar) .Header__Wrapper {
    padding: 5px 50px;
  }
  .Header__CurrencySelector {
    display: inline-block;
  }
  .Header__MainNav {
    margin-right: 45px;
  }
  .Header--inline .Header__FlexItem:first-child .Header__CurrencySelector,
  .Header--logoLeft .Header__FlexItem:first-child .Header__CurrencySelector {
    display: none;
  }
  .Header--logoLeft .Header__FlexItem--logo {
    order: -1;
    margin-right: 38px;
  }
  .Header--logoLeft .Header__FlexItem--fill:last-child {
    flex: none;
  }
  .Header--center .Header__Wrapper.Header__Wrapper {
    padding-bottom: 24px;
  }
  .Header--center .Header__MainNav {
    position: absolute;
    bottom: 0;
    left: 0;
    padding-bottom: 18px;
    width: 100%;
    text-align: center;
  }
  .Header--center .Header__MainNav .HorizontalList {
    margin-left: 0;
    margin-right: 0;
  }
  .Header--center .Header__FlexItem {
    margin-bottom: 40px;
  }
  .Header--center .Header__FlexItem:last-child .Header__CurrencySelector {
    display: none;
  }
  .Header--initialized .Header__Wrapper {
    opacity: 1;
  }
}
.Header__LinkSpacer {
  position: absolute;
  display: block;
  bottom: 0;
  color: transparent;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.Header__LinkSpacer::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: 100%;
  opacity: 0;
  transform: scale(0, 1);
  transform-origin: left center;
  border-bottom: 2px solid #5c5c5c;
  transition: transform 0.3s, opacity 0.3s;
}
.Header:not(.Header--transparent)
  .HorizontalList__Item.is-active
  .Header__LinkSpacer::after,
.Header:not(.Header--transparent)
  .HorizontalList__Item.is-expanded
  .Header__LinkSpacer::after {
  opacity: 1;
  transform: scale(1, 1);
}

@media screen and (max-width: 1239px) {
  .Header {
    padding: 10px 0;
  }
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  text-transform: uppercase;
  width: 260px;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
  color: $primary-color-red;
}

.HorizontalList__Item:hover .dropdown-content {
  display: block;
}
